In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data_for_winnie.csv")

In [3]:
data.head()

                                              tagged
0  [('nak', 'VERB'), ('coin', 'NOUN'), ('oii', 'I...
1  [('Package-very', 'NOUN'), ('thin', 'ADJ'), ('...
2  [('Kaki', 'NOUN'), ('saiz', 'ADJ'), ('38', 'NU...
3  [('Tapi', 'CCONJ'), ('ingat', 'NOUN'), ('kan',...
4  [('2', 'NUM'), ('warne', 'NOUN'), ('seakan', '...

In [4]:
df = data.sample(frac=1)

In [5]:
df.head()

                                                 tagged
2148  [('good', 'ADJ'), ('value', 'NOUN'), ('for', '...
1773                                  [('good', 'ADJ')]
1710            [('semuanya', 'DET'), ('cukup', 'ADJ')]
712     [('谢谢', 'VERB'), ('你', 'PRON'), ('。', 'PUNCT')]
395    [('kwn', 'X'), ('suka', 'VERB'), ('.', 'PUNCT')]

In [6]:
cutoff = int(.80 * len(df))
training_sentences = df[:cutoff]
print("training_sentences: ",len(training_sentences))
test_sentences = df[cutoff:]
print("test_sentences: ",len(test_sentences))

training_sentences:  2003
test_sentences:  501

In [7]:
training_sentences.head()

                                                 tagged
2148  [('good', 'ADJ'), ('value', 'NOUN'), ('for', '...
1773                                  [('good', 'ADJ')]
1710            [('semuanya', 'DET'), ('cukup', 'ADJ')]
712     [('谢谢', 'VERB'), ('你', 'PRON'), ('。', 'PUNCT')]
395    [('kwn', 'X'), ('suka', 'VERB'), ('.', 'PUNCT')]

In [8]:
training_sentences.to_csv("traindata_for_winnie.csv", index=False)

In [9]:
test_sentences.to_csv("testdata_for_winnie.csv", index=False)